# Optional - title of the output report, defaults to 'Team Metrics' should it not be set
ReportTitle: Jira Team Metrics

Connection:
    # URL to your Jira server
    Domain: https://jira.example.com
    # Username to access the above Jira instance. If you do not one, you will be prompted for it
    Username:
    # Password for the above username. If you do not set one, you will be prompted for it
    Password:

# MySQL connection to store some data in DB for graphing and analysis. If you don't have a MySQL instance to store
# your data, just delete this entire MySQL section.
MySQL:
    host:
    db:
    user:
    password:

# List of Jira project keys. They will be used in the JQL queries generated to get issues
Projects:
    - CX
    - SBS

# Issue type definitions for use in JQL queries
IssueTypes:
    # List of all types that a defect or bug issue type can be in
    Defects:
        - Bug

# List of the statuses to output as columns in the metrics output
OutputStatusCols:
    - Backlog
    - Ready
    - In Dev
    - Finished Dev
    - In code review
    - Finished Code Review
    - In Test
    - Ready for release
    - Done
    - Flagged

StatusTypes:
    # List of all statuses that identify an issue as done/resolved/complete etc. This includes issues you rejected
    # without working on, ie, invalid issues that you may mark as binned or similar
    Closed:
        - Done
        - CLOSED
        - BINNED

    # List of all statuses that identify an issue as done. This list should EXCLUDE rejected issues (see above),
    # i.e. an issue should only fall into one of the below states when worked on and completed
    Resolved:
        - Done
        - DONE
        - Closed

    # All statues that you count an issue as being actively worked on
    InProcess:
        - In Progress
        - Ready for Code Review
        - In code review
        - Ready for Test
        - In Test

    # All status of an issue where you have agreed to start work on it, including states where it may not be in active work
    InProgress:
        - Ready
        - On Hold
        - In Progress
        - Ready for Code Review
        - In code review
        - Ready for Test
        - In Test
        - Ready for release

    # States for an issue that has been started but is current not actively being worked on
    Inactive:
        - On Hold
        - Ready for Code Review
        - Ready for Test
        - Ready for release
        - Flagged

    # If you change your workflow in Jira, even just the case of the names, a new state is created. If you have issues
    # that can be in old states, you can map those to a new state by adding entries below. For example if an issue that
    # spent time in "ON HOLD", but your current workflow uses "On Hold", add the first entry below
    StatusMap:
        ON HOLD: On Hold
        Testing: In Test
        TODO: Todo
        Code Review: In code review
        Doing/Active: In Progress
        Ready to release: Ready for release
        Ready to Release: Ready for release

# A JQL query that will return the issues you want to consider for the metrics. {{from}} and {{to}} will be substituted
# for actual from and to dates
IssueJQL: >
  project in ({{projects}}) AND
  status in ({{complete}}) AND
  status changed to ({{resolved}})
  during ({{from}}, {{to}})
  ORDER BY priority DESC, updated DESC

# A JQL query which will return open defects
OpenDefectJQL: project IN ({{projects}}) AND status not in ({{complete}}) AND issuetype in ({{defects}})

# A JQL query to provide the data to calculate average defect cycle time etc
DefectsJQL: >
  project in ({{projects}}) AND
  status in ({{complete}}) AND
  status changed to ({{resolved}})
  during ({{from}}, {{to}})
  AND issuetype in ({{defects}})
  ORDER BY priority DESC, updated DESC

# Template JQL to get release tickets. All tickets linked to these that begin with one of the "Projects" config
# values will count as a teams release. Change the project key "REL" to whatever project you use for release issues.
# Note, this all assumes that you track all releases using a single separate project for now
ReleasesJQL: >
  project in (REL) AND
  status in (RELEASED) AND
  status changed to (RELEASED)
  during ({{from}}, {{to}})
  ORDER BY priority DESC, updated DESC

# What is the maximum number of Jira issues to return from a JQL query. Defaults to 50 if not set
MaxIssuesToGet: 9999
